body {
    font-family: 'Raleway', sans-serif !important;
}


/* Header */

.logo {
    width: 220px;
    height: 80px;
}

@media (max-width: 768px) {
    .logo {
        width: 90px;
        height: 40px;
    }
}

.div-menu{
height: 50px;
background-color: #2C2C33;
}

.d-menu {
    background-color: #2C2C33 !important;    
}

.d-menu2 {
    background-color: #2C2C33 !important;
    padding: 15px;
}

.d-menu ul li a{
    color: #ffffff !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
}

.d-menu2 ul li a {
    color: #ffffff !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
}

.d-menu ul li a:hover {
    color: #F57502 !important;
}

.d-menu2 ul li a:hover {
    color: #F57502 !important;
}

.dropdown-divider {
    border-top: 1px solid #F57502 !important;
}



/* Section */

.section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section2 {
    margin-top: 200px;
    margin-bottom: 100px;
}



/* Info */

.img-profile{
    width: 100%;
    height: auto;
}

.subt {
    font-family: 'Raleway', sans-serif !important;
    font-size: 2rem !important;
    color: #3A3A3A !important;
}

.subt:hover {
    color: #F57502 !important;
}

@media (max-width: 768px) {
    .subt {
        font-size: 1.25rem;
    }
}

.txt {
    color: #939292;
    font-size: 1.25em;
    padding: 120px 0px 120px 0px;
}

@media (max-width: 768px) {
    .txt {
        font-size: 0.75rem;
        padding: 20px;
    }
}



/* Separación */

hr {
    background-color: #EAE8E7;
}

hr:hover {
    background-color: #F57502;
}



/* Ubicación */

.ubicacion {
    padding: 45px 0px 40px 0px;
}

@media (max-width: 768px) {
    .fa-2x {
        font-size: 1.25em;
    }
}

.info {
    color: #2C2C33;
}

.info:hover {
    color: #F57502;
}

.info2 {
    font-size: 1.25rem;
    padding: 20px;
    color: #939292;  
    font-family: 'Raleway', sans-serif;  
}

@media (max-width: 768px) {
    .info2 {
        font-size: 0.75rem;
    }
}

iframe {
    max-width: 100% !important;    
}



/* Contacto */

.info3 {    
    font-size: 1.25rem;
    color: #939292 !important;
    text-decoration: none !important;
}

@media (max-width: 768px) {
    .info3 {
        font-size: 0.75rem;
    }
}




/* Footer */

.logo2 {
    width: 220px;
    height: 80px;    
}

.footer {
    width: 100%;
    height: auto;
    background-color: #2C2C33;
}

.navbar2 {
    font-size: 15px;
}

.redes {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
}

.redes:hover {
    color: #F57502;
}

ul li a {
    text-decoration: none !important;
    color: #3A3A3A !important;    
}

ul li a i:hover {
    color: #F57502;
}

/* Pagina Productos */

.txt-pro{
    font-size: 1.25em !important;
    font-weight: 300 !important;
    color: #939292 !important;
}

h3 {
    color: #F57502 !important;
}

.img-pro {
    height: 200px !important;
}

.caja {
    width: 100%;
    height: auto;
    border: 3px solid #F70834;
    margin-top: 100px;
}

.img-prod{
    width: 100%;
    height: auto;
}

.desc{
    padding: 10px;
    color: #939292;
}

/* Pagina Promociones */

.card-title {
    color: #F57502 !important;
}

.desc-prod {
    /* height: 200px; */
    padding: 20px;
    background-color: black;
}

.pack {
    margin-top: 50px;
}

.t-card {
    font-size: 1.25em;
    color: #3A3A3A;
}

.t-card:hover {
    color: #F57502;
}

.img-promo {
    border-radius: 8px 8px 0px 0px;
}

.card {
    background-image:url('../img/fondonaranja.png') !important;
    background-size: cover;
    background-repeat:no-repeat;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    color: #ffffff;
}

.card1{
    
    border-radius: 10px 10px 0px 0px;
}

.prod {
    margin-top: 50px;
}

.img-vis{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

ul li {
    list-style-type: none;
}

.img-promo {
    width: 230px !important;
    height: 150px !important;
    margin-top: 20px;
}

.txt-pro2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 0.95em;
    font-weight: 500;
}

@media (max-width:1024px) {
    .txt-pro2 {
        font-size: 0.75em !important;
    }
}

.img-top2{
    width: 50% !important;
} 